@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Martel+Sans:wght@600&family=Paprika&family=Space+Mono&family=Yuji+Hentaigana+Akari&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}
.main {
  background-image: url(Sources/Img/Background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 710px;
  position: relative;
}

.main .topbox {
  height: 710px;
  width: 100%;
  opacity: 65%;
  position: absolute;
  top: 0%;
  background-color: black;
}

nav {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 63vw;
  height: 100px;
}

nav img {
  color: rgb(229, 9, 20);
  fill: currentColor;
  width: 120px;
  z-index: 10;
  position: relative;
}

nav button {
  z-index: 10;
  position: relative;
}

.midtext {
  font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.midtext > :nth-child(1) {
  font-weight: 900;
  font-size: 42px;
  text-align: center;
}

.midtext > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.midtext > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.SeparetingLine{
    background-color: rgb(44, 41, 41);
    height: 7.5px;
    position: relative;
    z-index: 20;
}

.btn{
    padding: 3px 8px;
    font-weight: 500;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red-si{
    color: white;
    background-color:rgb(229, 9, 20);
}

.btn-red-gs{
    color: white;
    background-color:rgb(229, 9, 20);
    padding: 3px 20px;
    font-size: 17px;
    border-radius: 4px;
    font-weight: 400;
    line-height: 1.5;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    line-height: 1.5;
}
